* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.4rem;
	color: #fff;
}



a {
	text-decoration: none;
	color: inherit;
}
.container {
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.primary-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: #0687FF;
}

.navbar {
	display: flex;
	align-items: center;
	height: 7rem;
	justify-content: space-between;
}

.header-btns-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.header-btn {
    padding: 1rem;
    font-size: 1.55rem;
    font-weight: 600;
    transition: .5s;
}

.header-btn:hover {
    padding: 1rem;
    background-color: #fff;
    color: #0687FF;
    border-radius: 10rem;
}

.logo {
	width: 7rem;
	height: 7rem;
}

.person-ico {
    width: 5rem;
	height: 5rem;
}

.parent {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #0687FF;
    padding-bottom: 2rem;
    transition: filter .3s;
}

.child:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-img {
    width: 100%;
}

.price {
    font-family: "Helvetica";
    color: black;
}

.price-block {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fav-ico {
    height: 2.5rem;
}

.name-card {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: #111;
}

.city-card {
    color: #111;
    padding-left: 2rem;
    font-weight: lighter;
}

.btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-btn {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: #0687FF;
    border-radius: 50rem;
    border: 2px solid #0687FF;
    transition: .5s;
}

.add-btn:hover {
    background-color: #fff;
    color: #0687FF;
}

@media (max-width: 768px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .parent {
        grid-template-columns: repeat(1, 1fr);
    }
}