* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.4rem;
	color: #111;
  height: 100vh;
  background-color: #0687FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
	text-decoration: none;
	color: inherit;
}
.container {
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}


.login-card {
  padding: 3rem;
  background-color: #fff;
  width: 50rem;
  height: 75rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  gap: 2rem;
}

.static-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.6rem;
}

.second-text {
  font-weight: lighter;
  color: #9e9e9e;
}

/* input fields */

.field {
  padding: 1rem;
  width: 100%;
}

.control {
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  border-radius: 6px;
  border: 3px solid #0687FF;
  color: #0687FF;
  text-align: left;
  font-size: 1.5rem;
} 

.dropdownmain {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  border-radius: 6px;
  border: 3px solid #0687FF;
  color: #0687FF;
  font-size: 1.5rem;
}

.drop-variants {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#0687FF;
  justify-content: space-between;
  padding: 1rem;
  gap: 1.4rem;
  padding: 1rem;
}

.variant-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem;
  width: 90%;
  border-radius: 10rem;
  transition: background .5s;
}

.variant-drop:hover {
  background-color: #fff;
  color: #0687FF;
}

.drop-menu-open {
  visibility: visible;
  opacity: 1;
}

.submit-btn {
  padding: 2rem;
  background-color: #0687FF;
  color: #fff;
  border: 2px solid #0687FF;
  border-radius: 10rem;
  font-size: 1.6rem;
}

@media screen and (max-width:985px) {
  .login-card {
    width: 70rem;
    height: 70rem;
  }

  @media screen and (max-width:985px) {
    .login-card {
      width: 80rem;
      height: 80rem;
    }
  }
}




.accept-notification {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  opacity: 1;
  z-index: 999;
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
}

.accept-notification-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  width: 100%;
  height: 100vh;
  opacity: .7;
}

.confirmation-scenario {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.confirm-open {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width:420px) {
  .notification-window {
    width: 40rem;
    height: 40rem;
  }
}