* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::placeholder {
	font-size: 1.7rem;
	color: #bdc6cf;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1.4rem;
	color: #111;
	background-color: #0687FF;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

/* Card Styles */
.login_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6rem;
	padding: 4rem;
	background-color: rgb(252, 252, 252);
}

/* Title Styles */
.title_text_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 30rem;
}

.subtext {
	font-weight: lighter;
	color: #bdc6cf;
}

/* Inputs */
.input_space {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.input_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input_field {
	outline: none;
	border: none;
	padding: 1.3rem;
	color: #0687FF;
	font-size: 1.7rem;
	background-color: transparent;
}

.bottom_line {
	width: 25rem;
	height: 2px;
	background-color: #0687FF;
	transition: width .5s;
}

.input_field_dropdown {
	display: flex;
	justify-content: space-between;
	padding: 1.3rem;
	color: #bdc6cf;
	font-size: 1.7rem;
}

.material-symbols-outlined {
	transition: transform .5s;
}

.material-symbols-outlined_active {
	transform: rotate(180deg);
}

.bottom_line_dropdown {
	background-color: #0687FF;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	padding: 1.3rem;
	gap: 1.3rem;
	position: absolute;
	width: 25rem;
	height: 25rem;
	transform: translateY(-10rem);
	opacity: 0;
	transition: visibility 0s, opacity .5s, transform .5s linear;
}

.dropdown_text {
	font-size: 1.6rem;
	color: #fff;
	padding: 1rem;
	border-bottom: 1px solid #0687FF;
	transition: .2s;
}

.dropdown_text_active {
	color: #0687FF;
}

.dropdown_text:hover {
	border-bottom: 1px solid white;
}

.bottom_line_dropdown_active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0rem);
}

.accept_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn {
	padding: 3rem;
	font-size: 1.7rem;
	border-radius: 10rem;
	background-color: #0687FF;
	color: #fff;
}

